.cityFilter {
  width: 317px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;

  //   .citySelector {
  //     position: relative;
  //     .cityFilterMark {
  //       position: absolute;
  //       width: 11px;
  //       height: 13px;
  //       top: 10px;
  //       left: 10px;
  //     }
  //   }
}
