h3 {
  margin: 0;
}

.filterBox {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 317px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  h3 {
    font-weight: 600;
    font-size: 14px;
    color: #212529;
  }
  .inputBox {
    display: flex;
    gap: 10px;
    input {
      height: 30px;
      flex: 1;
      border-radius: 10px;
      border: 1px solid rgba(15, 15, 15, 0.3);
      padding: 10px;
      &::placeholder {
        color: rgba(15, 15, 15, 0.3);
      }
      &:focus {
        outline: none;
      }
    }
  }
  .filterBtn {
    width: 34px;
    height: 30px;
    border-radius: 8px;
    img {
      width: 15px;
      height: 15px;
    }
  }
}
