.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  .card {
    align-self: center;
    margin-bottom: 20px;
  }
  .cardInfo {
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    width: 600px;
    margin-bottom: 20px;
    border-radius: 12px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
}
